body {
  background-color: rgb(240, 200, 166);
  color: #800000;
  font-size: larger;
}
.jumbotron {
  color: #800000;
}

.btn {
  background-color: #800000;
  border-color: #800000;
}

.btn:hover {
  background-color: lightsalmon;
  border-color: lightsalmon;
  box-shadow: 0px 0px 20px 3px salmon;
}

.btn:active {
  background-color: lightsalmon;
  border-color: lightsalmon;
  box-shadow: 0px 0px 20px 3px salmon;
}

li:nth-of-type(odd) {
  background-color: #800000;
  color: white;
}
li:nth-of-type(odd):hover {
  background-color: #500000;
  color: white;
}

li:nth-of-type(even) {
  background-color: #ffad7d;
  color: white;
}
li:nth-of-type(even):hover {
  background-color: #dda07a;
  color: white;
}
